.App {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	font-size: calc(3vmin + 0.4rem);
	font-family: 'Tiny5', sans-serif;
	color: var(--font-color);
}
