.mini-game-box {
	justify-content: left;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: center;
	align-items: center;
	width: 35%;
	height: 100vh;
	background: white;
	/* background: #282c34; */
}