.player-box {
	position: relative;
	width: fit-content;
	height: fit-content;
}

.panel-box {
	aspect-ratio: 0.7071;
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
	height: 100%;
	padding-left: 100%;
}

.panel-grid {
	pointer-events: initial;
	display: grid;
	row-gap: var(--panel-gap);
	grid-template-rows: 5fr 3.5fr 1.5fr;
	grid-template-columns: 100%;
	box-sizing: border-box;
	width: 100%;
	min-width: 18.4vmin;
	height: 100%;
	padding-left: var(--panel-gap);
}
