.start-button {
	justify-self: start;
	display: inline-block;
	align-self: end;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-color: var(--front-color);
	border: none;
	border-radius: var(--panel-radius);
	font-size: var(--font-size);
	font-family: inherit;
	font-weight: bold;
	color: inherit;
	text-align: center;
	text-decoration: none;
}
